@{
    ViewData["Title"] = "Access denied";
}

<header>
    <h2 class="text-danger">@ViewData["Title"]</h2>
    <p class="text-danger">You do not have access to this resource.</p>
</header>

<style>
    body {
        padding-left: 15px;
        padding-right: 15px;
    }

    footer {
        position: fixed;
        left: 15px;
        bottom: 0px;
        width: 100%;
        margin-left: -15px;
        margin-right: -15px;
    }
</style>