@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <p>
        Thank you for confirming your email.
    </p>
</div>

<style>
    body {
        padding-left: 15px;
        padding-right: 15px;
    }

    footer {
        position: fixed;
        left: 15px;
        bottom: 0px;
        width: 100%;
        margin-left: -15px;
        margin-right: -15px;
    }
</style>