@{
    ViewData["Title"] = "Homepage";
}

@*1st parallax background*@

<div class="industry"></div>
<div class="industry">
    <div class="intro" style="height: 200px">
        <div class="title">Industry 4.0</div>
        <p class="subtitle">Industry 4.0 is a name given to the current trend of automation and data exchange in manufacturing technologies. It includes cyber-physical systems, the Internet of things, cloud computing and cognitive computing. Industry 4.0 is commonly referred to as the fourth industrial revolution.<br />- Wikipedia -</p>
    </div>
</div>
<div class="industry"></div>

<div class="row">
    <figure class="col-md-4 col-sm-6" style="padding-left:0px; padding-right:0px">
        <img src="~/images/Homepage/AI1.jpg" alt="Artificial Intelligence" class="img-responsive" />
        <figcaption>
            <div>Artificial Intelligence</div>
            <p>Artificial Intelligence is the simulation of human intelligence processes by machines, especially computer systems.</p>
            <a class="btn btn1" href="~/Home/EmergingTechnologies/#aititle">Read more</a>
        </figcaption>
    </figure>
    <figure class="col-md-4 col-sm-6" style="padding-left:0px; padding-right:0px">
        <img src="~/images/Homepage/IOT11.jpg" alt="Internet Of Things" class="img-responsive" />
        <figcaption>
            <div>Internet Of Things</div>
            <p>Internet Of Things refers to the connection of devices (other than typical fare such as computers and smartphones) to the Internet.</p>
            <a class="btn btn1 " href="~/Home/EmergingTechnologies/#iottitle">Read More</a>
        </figcaption>
    </figure>
    <figure class="col-md-4 col-sm-6" style="padding-left:0px; padding-right:0px">
        <img src="~/images/Homepage/AI2.jpg" alt="Cognitive Services" class="img-responsive" />
        <figcaption>
            <div>Cognitive Services</div>
            <p>Cognitive Services are a set of machine learning algorithms that Microsoft has developed to solve problems in the field of Artificial Intelligence.</p>
            <a class="btn btn1 " href="~/Home/EmergingTechnologies/#cstitle">Read More</a>
        </figcaption>
    </figure>

    <figure class="col-md-4 col-sm-6" style="padding-left:0px; padding-right:0px">
        <img src="~/images/Homepage/cloud.jpg" alt="Cloud Computing" class="img-responsive" />
        <figcaption>
            <div>Cloud Computing</div>
            <p>Cloud Computing is the delivery of computing services (servers, storage, databases, networking, software, analytics and more) over the Internet.</p>
            <a class="btn btn1 " href="~/Home/EmergingTechnologies/#cctitle">Read More</a>
        </figcaption>
    </figure>
    <figure class="col-md-4 col-sm-6" style="padding-left:0px; padding-right:0px">
        <img src="~/images/Homepage/Robotics.jpg" alt="Robotics" class="img-responsive" />
        <figcaption>
            <div>Robotics</div>
            <p>Robotics is a branch of engineering that involves the conception, design, manufacture, and operation of robots.</p>
            <a class="btn btn1 " href="~/Home/EmergingTechnologies/#rbtitle">Read More</a>
        </figcaption>
    </figure>
    <figure class="col-md-4 col-sm-6" style="padding-left:0px; padding-right:0px">
        <img src="~/images/Homepage/blockchain3.jpg" alt="Blockchains" class="img-responsive" />
        <figcaption>
            <div>Blockchains</div>
            <p>Blockchain is a digital ledger in which transactions made in bitcoin or another cryptocurrency are recorded chronologically and publicly.</p>
            <a class="btn btn1 " href="~/Home/EmergingTechnologies/#bctitle">Read More</a>
        </figcaption>
    </figure>
</div>


@*2nd parallax background*@
<div>
    <div class="industry2"></div>
    <div class="industry2"></div>
</div>

@*carousel*@


<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/Homepage/wikipedia.jpg" alt="Wikipedia" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Wikipedia<br />
                    <a class="btn btn1 " href="https://en.wikipedia.org/wiki/Industry_4.0">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Homepage/Forbes.jpg" alt="Forbes" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Forbes<br />
                    <a class="btn btn1 " href="https://www.forbes.com/sites/bernardmarr/2016/06/20/what-everyone-must-know-about-industry-4-0/">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Homepage/ibm.jpg" alt="IBM" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    IBM<br />
                    <a class="btn btn1 " href="https://www.ibm.com/industries/manufacturing?S_PKG=ov60479&cm_mmc=Search_Google-_-Industrial_Industrial+-+Discrete+Manufacturing-_-WW_NA-_-industry+4.0_Exact_ov60479&cm_mmca1=000020DR&cm_mmca2=10005255&cm_mmca7=9071954&cm_mmca8=kwd-297031802574&cm_mmca9=9a244c0e-4e2f-4a0c-879b-abaf5cee4a64&cm_mmca10=280798821827&cm_mmca11=e&mkwid=9a244c0e-4e2f-4a0c-879b-abaf5cee4a64%7C1082%7C36760&cvosrc=ppc.google.industry%204.0&cvo_campaign=000020DR&cvo_crid=280798821827&Matchtype=e">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Homepage/industry.jpg" alt="Industry 4.0 News" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Industry 4.0 News<br />
                    <a class="btn btn1 " href="http://www.industry40news.com.au/">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Homepage/infochips.jpg" alt="Infochips" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Infochips<br />
                    <a class="btn btn1 " href="https://www.einfochips.com/blog/top-industry-4-0-trends-watch-2018/">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Homepage/department.jpg" alt="Department of Industry, Innovation and Science" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Department of Industry, Innovation and Science<br />
                    <a class="btn btn1 " href="https://www.industry.gov.au/">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<style>
    @@media (min-width: 1281px) {
        figure > figcaption > div {
            font-size: 35px;
        }

        figure > figcaption > p {
            font-size: 15px;
        }

        .industry {
            height: 250px;
        }

        .industry2 {
            height: 700px;
        }
    }

    @@media (min-width: 1025px) and (max-width:1280px) {
        figure > figcaption > div {
            font-size: 25px;
        }

        figure > figcaption > p {
            font-size: 1.1vw;
        }

        .industry {
            height: 220px;
        }

        .industry2 {
            height: 550px;
        }
    }

    @@media (min-width: 768px) and (max-width: 1024px) {
        figure > figcaption > div {
            font-size: 26px;
        }

        figure > figcaption > p {
            font-size: 1.1vw;
        }

        .industry {
            height: 170px;
        }

        .industry2 {
            height: 400px;
        }
    }

    @@media (max-width: 767px) {
        figure > figcaption > div {
            font-size: 5vw;
        }

        figure > figcaption > p {
            font-size: 14px;
        }

        .industry {
            height: 125px;
        }

        .industry2 {
            height: 250px;
        }
    }
</style>